.button-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  height: auto;
  color: #000;
  text-align: center;
  letter-spacing: 0;
  background-color: #7bd6d0;
  border-radius: 30px;
  padding: 16px 42px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  transition: all 0.4s;
  display: inline-block;
}
