.star-block {
  margin-bottom: 20px;
}

.image-div.experience {
  background-image: url("https://assets.website-files.com/6178312e621dc2b507e9c3e8/619bd92e1589fc5137e4d101_experience-matters-image.webp");
  background-position: 50%;
  background-size: cover;
  border-radius: 60px;
}

.image-div.tech {
  background-image: url("https://assets.website-files.com/6178312e621dc2b507e9c3e8/619bd92f578de6651d928aa7_tech-matters-image.webp");
  background-position: 50%;
  background-size: cover;
  border-radius: 60px;
}

.image-div.transparency {
  background-image: url("https://assets.website-files.com/6178312e621dc2b507e9c3e8/619bd92ffccf70b6df768859_transparency-matters-image.webp");
  background-position: 50%;
  background-size: cover;
  border-radius: 60px;
}
