.header-section {
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
  display: flex;
}

.header-section._700 {
  width: 700px;
  text-align: center;
  align-items: center;
}

.new-patient-image-div {
  background-image: url("https://res.cloudinary.com/dfnfszqky/image/upload/v1698143737/Screenshot_2023-10-17_at_9.44.04_AM-min_zlnmjr.jpg");
  background-position: 50%;
  background-size: cover;
  border-radius: 60px;
  width: 500px;
  height: 500px;
  margin: 24px auto;
}

.new-patient-cta-wrapper {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}

@media screen and (max-width: 991px) {
  .container.new-patient {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header-section {
    text-align: left;
  }

  .header-section._700 {
    width: auto;
  }

  .new-patient-image-div {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 479px) {
  .header-section {
    text-align: left;
    align-items: flex-start;
  }

  .new-patient-image-div {
    width: 300px;
    height: 300px;
  }
}
